.teachers-body {
    margin-top: 20px;
    margin-left: 20px;
}

.teachers-header {
    display: flex;
    justify-content: space-between;
}

.teachers-header > h2 {
        margin-top: 0;
    }

.teachers-table .glyphicon-trash {
    color: #CD3E3E;
    cursor: pointer;
    font-size: 20px;
}
